<!DOCTYPE html>
<head>
    <title>
        <%=locals.title%>
    </title>
    <script src="https://kit.fontawesome.com/5dcb08b4c4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1>
        TODO list
    </h1>
    <div>
        <form action="/create-todo" method="POST">
         <p>Description</p>   
        <input type="text" name ="description"placeholder="What do you need to do?" required>
        <h3>Category</h3> 
               <select name="category" >
                <option >
                    Select your category
                </option>
                <option value="personal">
                     Personal
                </option>
                <option value="office">
                    Office
                </option>
                <option value="college">
                    College
                </option>
        </select>
         <H3>DATE</H3> 
         <input type="date" name ="date">
         <button type="submit">ADD TASK</button>
         
        </form>

    </div>
       <div class="todolist"> 
           <ul type="none">
               
               <%for(let i of todo_list){%>
                <li>
                    <input type="checkbox" value="/delete-todo/?id">
                    <div>
                        <p>
                            <%=i.description%>
                        </p>
                        
                        <p>
                            <%=i.date%>
                        </p>
                    </div>
                </li>
                    <a href="/delete-todo/?id=<%= i.id%>">
                        <button>DELETE TASK
                            <i class="fas fa-user-minus"></i>
                        </button>
                        
                    </a>
                    <button>
                        <p>
                            <%=i.category%>
                        </p>
                    </button>
                <%}%>
           </ul>
           
       </div>
    
    
    
</body>
<script type="text/javascript" src="/js/home.js"></script>
</html>