<!DOCTYPE html>
<head>
    <title>
        <%=locals.title%>
    </title>
    <script src="https://kit.fontawesome.com/5dcb08b4c4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1>
        TODO list
    </h1>
    <div class="form-section">
        <form class="form" action="/create-todo" method="POST">
         
         <!-- Description section -->
       <h3>Description</h3>   
        <input type="text"  class="new description" name ="description"placeholder="What do you need to do?" required>
        
        <!-- Category section -->
        <h3>Category

            <select class="new category" name="category" >
                <option >
                    Select your category
                </option>
                <option value="personal">
                     Personal
                </option>
                <option value="office">
                    Office
                </option>
                <option value="college">
                    College
                </option>
                <option value="college">
                    Sports
                </option>
                <option value="college">
                    School
                </option>
        </select>
        </h3> 

              

        <!-- date section -->
         <h3>DATE  
            
         </h3> 
         <input  class="date new" type="date" name ="date" required>
        
    <div class="ad-btn">
         <!-- ADD TASK button -->
     <button class="add-btn" type="submit"> + ADD TASK</button>
     <!-- delete button -->
     <button class="delete-btn">DELETE TASK
        <i class="fas fa-user-minus"></i>
    </button>
    </div>
     </form>

    </div>
       <div class="todolist"> 
           <ul type="none">
               
               <%for(let i of todo_list){%>
                <li>
                    <input type="checkbox" class="input" value="/delete-todo/?id">
                    <div>
                        <p>
                            <%=i.description%>
                        </p>
                        
                        <p>
                            <%=i.date%>
                        </p>
                    </div>
                </li>
                    <a href="/delete-todo/?id=<%= i.id%>">
                        <button class="delete-btn">DELETE TASK
                            <i class="fas fa-user-minus"></i>
                        </button>
                        
                    </a>
                    <button>
                        <p>
                            <%=i.category%>
                        </p>
                    </button>
                <%}%>
           </ul>
           
       </div>
    
    
    
</body>
<script type="text/javascript" src="/js/home.js"></script>
</html>